<main>
    <nav class="navbar mb-5" style="background-color: gray;">
        <div class="ml-4 navbar-brand">
            <img src="/assets/pictures/favicon.ico" width="35" height="35" class="d-inline-block mr-2 mb-3"
                alt="Envision">
            <a href="/">
                <h1 class="d-inline-block mb-0" style="color: black;">Envision</h1>
            </a>
        </div>

        <div class="navbar-brand">
            <div class="navbar-brand">
                {{#if loggedIn}}
                <button id="logout" type="button" class="btn btn-light text-dark me-2">LogOut</button>
                {{else}}
                <a href="/login">
                    <button type="button" class="btn btn-light text-dark me-2">LogIn</button>
                </a>
                <a href="signup">
                    <button type="button" class="btn btn-color">Sign-up</button>
                </a>
                {{/if}}
            </div>
        </div>
    </nav>

    <div class="container mt-5">
        <form id="add-artwork">
            <div class="row">
                <div class="col-sm-6">
                    <label for="title-artwork" class="form-label">Title</label>
                    <input id="title-artwork" type="text" class="form-control" placeholder="Weather-Dashboard">
                </div>
                <div class="col-sm-6">
                    <label class="form-label" for="customFile">Upload the file</label>
                    <input type="file" name="file" class="form-control" id="uploadFile" />
                </div>
                <div class="col-sm-6 mt-3">
                    <label class="form-label mr-2">Grade level</label>
                    <select id="grade-select" class="form-select">
                        <option selected>Choose...</option>
                        <option value="9">9-th</option>
                        <option value="10">10-th</option>
                        <option value="11">11-th</option>
                        <option value="12">12-th</option>
                    </select>
                </div>
                <div class="col-sm-6 mt-3">
                    <button id="submitt" class="w-100 btn btn-color" type="submit">Upload
                        Artwork</button>
                </div>
            </div>
        </form>
    </div>
    <script src="eventlisteners.js"></script>
</main>