{{#if loggedIn}}
<div>
  {{!-- profile or something --}}
</div>
{{else}}
<div class="row d-flex justify-content-center">
  <div class="jumbotron col-10 mt-3">
    <h1 class="display-4">About us:</h1>
    <p class="lead">Envision is a place where students and teachers can come together to interact through artwork! If
      logged in, your fellow peers are able to view and or comment on your masterpieces. Teachers can also view and
      give
      feedback. </p>
    <hr class="my-4">
    <p>Sign up and choose
      your role to begin!</p>
    <p class="lead">
      <a class="btn btn-color btn-lg " href="/signup">Sign Up</a>
    </p>
  </div>
</div>
{{/if}}