<main class="form-signin text-center">
    <form class="login-form">
        <img class="mb-4" src="assets/pictures/favicon.ico" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Sign in</h1>
        <div class="form-floating">
            <input type="email" class="form-control" placeholder="name@example.com" id="email-login">
            <label>Email address</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" placeholder="Password" id="password-login">
            <label>Password</label>
        </div>
        <!-- <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div> -->
        <button class="w-100 btn btn-lg btn-color" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted"> Don't have an account? <a href="signup">SignUp!</a></p>
    </form>
    <script src="login.js"></script>
</main>