<body>
    <nav class="navbar" style="background-color: gray">
        <div class="ml-4 navbar-brand">
            <img src="/assets/pictures/favicon.ico" width="35" height="35" class="d-inline-block mr-2 mb-3"
                alt="Envision" />
            <a href="/">
                <h1 class="d-inline-block mb-0" style="color: black">Envision</h1>
            </a>
        </div>
    </nav>

    <div class="container">
        <div class="sidebar">
            <header>Name</header>
            <ul>
                <li>
                    <button type="button" class="btn add-btn">
                        <i class="fas fa-plus-circle mr-2"></i>Add artwork
                    </button>
                </li>
                <li><a href="#">Artworks</a></li>
            </ul>
        </div>

        <div class="row">
            <div class="col">
                <div id="one" class="card" style="width: 18rem">
                    <img src="..." class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <button class="btn btn-block btn-primary">
                            <i class="fa fa-thumbs-up">Like</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="two" class="card" style="width: 18rem">
                    <img src="..." class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <button class="btn btn-block btn-primary">
                            <i class="fa fa-thumbs-up">Like</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="three" class="card" style="width: 18rem">
                    <img src="..." class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <button class="btn btn-block btn-primary">
                            <i class="fa fa-thumbs-up">Like</i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div id="four" class="card" style="width: 18rem">
                    <img src="..." class="card-img-top" alt="..." />
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">
                            Some quick example text to build on the card title and make up
                            the bulk of the card's content.
                        </p>
                        <button class="btn btn-block btn-primary">
                            <i class="fa fa-thumbs-up">Like</i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>