<body>
    <nav class="navbar" style="background-color: gray">
        <div class="ml-4 navbar-brand">
            <img src="/assets/pictures/favicon.ico" width="35" height="35" class="d-inline-block mr-2 mb-3"
                alt="Envision" />
            <a href="/">
                <h1 class="d-inline-block mb-0" style="color: black">Envision</h1>
            </a>
        </div>
    </nav>


    <div class="sidebar">
        <header>Name</header>
        <ul>
            <li>
                <button type="button" class="btn add-btn">
                    <i class="fas fa-plus-circle mr-2"></i>Add artwork
                </button>
            </li>
            <li><a href="#">Artworks</a></li>
        </ul>
    </div>


    <div class="row">
        {{#if artworks.length}}
        <div class="col-md-6 artwork-list">
            <h3>Current Projects:</h3>

            {{#each artworks as |artwork|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4><a href="/artwork/{{artwork.id}}">{{artwork.title}}</a></h4>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-sm btn-danger" data-id="{{artwork.id}}">DELETE</button>
                </div>
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>


</body>