<main class="">
    {{!-- <img class="m-5" src="{{profile_picture}}" alt=""> --}}
    <div class="row m-5 d-flex justify-content-center">
        <div class="col-md-8 d-flex justify-content-center">
            <img class="mb-4 img-responsive rounded-circle" src="{{profile_picture}}" alt="" width="200" height="200">
        </div>


        <form class="col-md-5" action="/api/post/upload" method="POST" enctype="multipart/form-data" id="add-artwork">

            <label class="form-picture" for="customFile">
                <h4 class="text-info mb-1">Upload img</h4>
                <br>
                <small class="text-muted " style="font-size: 16px;">Files no larger than 10 MB</small>
            </label>
            {{#if msg}}
            {{msg}}
            {{/if}}
            <div class="col-smd-5">
                <input name="myArtwork" type="file" class="form-control mt-3 mb-3" id="uploadImg" />
            </div>
            <div class="col-md-8 mb-3">
                <button type="submit" id="submit_artwork" class="w-100 btn btn-color" style="font-size: 14px;"
                    data-id="{{user_id}}">Submit
                    Artwork</button>
            </div>
        </form>
    </div>
</main>
<script src=" ../../profile-img.js"></script>