<main class="container">
    <div class="py-2 text-center">
        <img src="assets/pictures/favicon.ico" alt="Envision icon">
        <h2>SignUp form</h2>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form id="signup-form">
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="first-name" class="form-label">First name</label>
                        <input id="first-name" type="text" class="form-control" placeholder="Michael">
                    </div>
                    <div class="col-sm-6">
                        <label for="last-name" class="form-label">Last name</label>
                        <input id="last-name" type="text" class="form-control" placeholder="Jackson">
                    </div>
                    <div class="col-12">
                        <label for="password-signup" class="form-label">Password</label>
                        <input id="password-signup" type="password" class="form-control" placeholder="******">
                    </div>
                    <div class="col-12">
                        <label for="email-signup" class="form-label">Email address</label>
                        <input id="email-signup" type="email" class="form-control" placeholder="you@example.com">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Role/Status</label>
                        <select id="role-select" class="form-select">
                            <option selected>Choose...</option>
                            <option value="1">Teacher</option>
                            <option value="2">Student</option>
                            <option value="3">Viewer</option>
                        </select>
                    </div>
                </div>
                <button class="mt-4 w-100 btn btn-color btn-lg" type="submit">Create My Account</button>
                <a href="/login" class="mt-4 w-100 btn btn-color btn-lg" type="submit">Have an account, Log-in</a
                    href="/login">
            </form>
        </div>
    </div>
    <script src="signup.js"></script>
</main>