<main class="container">
    <div class="py-2 text-center">
        <img src="./public/assets/pictures/favicon.ico" alt="Envision icon">
        <h2>SignUp form</h2>
    </div>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <form>
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label class="form-label">First name</label>
                        <input type="text" class="form-control" placeholder="Michael">
                    </div>
                    <div class="col-sm-6">
                        <label class="form-label">Last name</label>
                        <input type="text" class="form-control" placeholder="Jackson">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Password</label>
                        <input type="password" class="form-control" placeholder="******">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Email address</label>
                        <input type="email" class="form-control" placeholder="you@example.com">
                    </div>
                    <div class="col-12">
                        <label class="form-label">Role/Status</label>
                        <select class="form-select">
                            <option selected>Choose...</option>
                            <option>Student</option>
                            <option>Teacher</option>
                            <option>Viewer</option>
                        </select>
                    </div>
                </div>
                <button class="mt-4 w-100 btn btn-color btn-lg" type="submit">Create My Account</button>
            </form>
        </div>
    </div>
</main>