body {
  background-color: #e7e7e7;
}

.btn-color {
  background-color: #209cee;
}

.sidebar {
  position: sticky;
  left: 0px;
  /* width: 250px; */
  height: 500px;
  background: #042331;
}
.container {
  padding: 0;
}
.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
}

.sidebar ul a,
.add-btn {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  border-bottom: 1px solid black;
}
ul li:hover a {
  padding-left: 50px;
}

.add-btn {
  padding: 0px 0px 0px 5px !important;
}

.add-btn:hover {
  color: white;
}

/* .add-btn:hover {
    color: white;
} */
/* .btn-dark-blue {
    color: white;
} */

.about {
  font-size: 12px;
  text-align: center;
}

h3 {
  padding-top: 2rem;
  font-size: 15px;
}

.card {
  padding-left: 2rem;
  padding-bottom: 1rem;
  padding-top: 15px;
  margin-top: 10px;
  padding-right: 30px;
}

.card-title {
  font-size: 12px;
}

.card-text {
  font-size: 10px;
}

