body {
  background-color: #e7e7e7;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  /* background-color: #209cee; */
  overflow-x: hidden;
  padding-top: 20px;
  background: #042331;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
}
.sidebar header {
  font-size: 20px;
  color: white;
  line-height: 70px;
  text-align: justify;
  padding-left: 76px;
  background: #063146;
}


.sidebar ul a,
.add-btn {
  display: block;
  height: 100%;
  width: 100%;
  line-height: 70px;
  font-size: 20px;
  color: white;
  padding-left: 35px;
  border-bottom: 1px solid black;
  text-align: justify;
}

ul li:hover a {
  padding-left: 10px;
}

.add-btn {
  padding: 0px 0px 0px 1px !important;
}

.add-btn:hover {
  padding-left: 50px;
  color: white;
}

.add-btn:hover {
    color: white;
} */


.btn-color {
  background-color: #209cee;
}

.btn-color:hover {
 background-color: #148cdb;
}

a:hover {
 text-decoration: none;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
   height: 100vh;
    overflow: auto;
}

.lightbox-gallery {
    background-image: linear-gradient(#063146, #af2465);
    background-repeat: no-repeat;
    color: #000;
    overflow-x: hidden;
   
}

.lightbox-gallery p {
    color: black;
}

.card-img-top {
  max-height: auto;
  min-height: auto;
  object-fit: cover;
}


.card-title {
  font-size: 12px;
}

.lightbox-gallery .item {
    padding-bottom: 5px;
}

.text-muted {
  font-size: 8px;
}
.card img {
  
  height: 200px;
  object-fit: cover;
}

.item img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.card {
  opacity: 0.91;
}


@media (max-width:767px) {
    .lightbox-gallery h2 {
        margin-bottom: 25px;
        padding-top: 25px;
        font-size: 24px
    }
}

